<div class="slider-gallery-v1">
   <div class="init-carousel-owl owl-carousel" data-items="1" data-auto="1" data-nav="1">
      {% for row in rows %}
        <div class="item">
            {{ row.content }}
         </div>
      {% endfor %}
   </div>    
</div>
   
