<div class="owl-carousel init-carousel-owl slidershow-v3" data-items="2">
   
   {% set i = 0 %}
   {% for row in rows %}
      {% set i = i + 1 %}
      {% if i % 5 == 1 %}
         <div class="post-large carousel-item">
            <div class="item content">{{ row.content }}</div>
         </div>
      {% else %}
         
         {% if i % 5 == 2 %}
            <div>
         {% endif %}   
         
            {% if i % 5 == 2 or i % 5 == 4 %}
              <div class="post-small carousel-item">
            {% endif %}
               <div class="item content post-small-item">{{ row.content }}</div>
            {% if i % 5 == 3 or i % 5 == 0 or i == rows|length %}
               </div>
            {% endif %}   

         {% if i % 5 == 0 or i == rows|length %}
            </div>
         {% endif %}    
            
      {% endif %} 
   {% endfor %}   
</div>

