<div class="clearfix post-slider post-block v1 gavias-slide-bottom">
   <div class="post-inner">
   	<div class="left">	
		  <div class="image">
				{{ fields.field_image.content }}
		  </div>
		</div>  
	   <div class="right">
			<div class="entry-title caption-title">
				{{ fields.title.content }}
			</div>
			<div class="entry-body caption-description">
				{{ fields.body.content }}
			</div>
	  </div>
   </div>
</div>
