{{ attach_library('gavias_emon/webinar') }}

<div class="paragraph full-width" id="webinars">

    <div class="box-title">Webinars</div>

	<div class="bb-container  carousel webinar-list">
		<div id="webinar-filter" ><input type="checkbox" > <span>Show upcoming webinars only<span></div>
	    <div class="gavias-slider" data-dots="true" data-responsive="true" data-indicator=''>
	        <div class="loading"><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i></div>
	        <div class="swiper-wrapper" data-slick='{"slidesToShow": 3, "slidesToScroll": 3 }'>
	       	</div>
	     </div>
	</div>     

</div>