{% if content.field_name.0 is not empty %}
    
      <div class="slider-action" style="padding-top: 15px; transition: none;">
        <a class="btn" href="{{ content.field_button_link.0 }}">{{ content.field_name.0 }}</a>
      </div>

{% endif %}