<div class="video-block post-block">
   <div class="video-thumbnail" style="background: url('{{ thumbnail_url }}') no-repeat center center"> </div>  
   <div class="video-content text-center">
      <div class="icon">{{ fields.view_node.content }}</div>
      <div class="video-title">
         {{ fields.title.content }}
      </div>   
      <div class="post-meta">
         {{ fields.created.content }}
      </div>   
   </div>
</div>   
