{% set i = 0 %}
<div class="view-featured-videos owl-carousel init-carousel-owl" data-items='3'>
   {% for row in rows %}

      {% set i = i + 1 %}

      {% if i % 3 == 1 %}
         <div class="item large-video"> {{ row.content }} </div>
      {% else %}
            
         {% if i % 3 == 2 %} 
            <div class="item small-videos">
         {% endif %}      
            
            <div class="item-video">{{ row.content }}</div>

         {%  if i % 3 == 0 or i == rows|length %}
            </div>
         {% endif %}

      {% endif %}   

   {% endfor %}
</div>
