<div class="row row-eq-height bb-container">
  {% for row in rows %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="padding: 5px">
      {{ row.content }}
    </div>
  {% endfor %}
</div>     
