.item-list{
  ul{
    overflow: hidden;
    li.view-list-item{
      margin:0 0 30px;
      overflow: hidden;
      .post-block{
        margin: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.padding-small{
  .item-list ul li.view-list-item{
    margin-bottom: 20px!important;
    &:last-child{
      margin-bottom: 0!important;
    }
  }
}
.views-view-grid{
  .views-row{
    width: auto;
    clear: none;
    float: none!important;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

//Slider for home
.slidershow-v3{
    margin-left: -3px!important;
    margin-right: -3px!important;
    .carousel-item{
      float: left;
      padding-right: 3px!important;
    }
    .post-large{
      img{
        width: 100%;
        height: auto;
      }
      .post-meta-wrap{
        padding: 30px!important;
      }
      @media(max-width: $screen-sm-max){
        .post-body{
          display: none;
        }
         .post-meta-wrap{
          padding: 20px 15px!important;
        }
      }
    }
	div{
     >.post-small{
  		  width: 50%!important;
  		  background: transparent!important;
  		  float: left;
  		  .post-small-item{
    			background: transparent;
    			width: 100%!important;
    			height: auto!important;
    			float: left;
    			clear: both;
    			padding-bottom: 3px;
    			margin: 0;
          .post-meta-wrap{
            padding: 20px 15px!important;
          }
          .post-body{
            display: none!important;
          }
          .post-title a{
            font-size: 15px!important;
            padding: 0!important;
          }
    			img{
    			  width: 100%;
    			  height: auto;
    			}
		  }
		}
	}
}


//---------------- Video featured ------------------------------
.view-featured-videos{
  &.init-carousel-owl{
    margin-left: -1px;
    margin-right: -1px;
    width: auto;
    .owl-item > .item{
      padding-left: 1px;
      padding-right: 1px;
    }
  }
  .large-video{
    .video-block{
      min-height: 420px;
    }  
  }
  .small-videos > .item-video{
    margin-bottom: 2px;
    &:last-child{
      margin-bottom: 0;
    }
    .video-block{
      min-height: 209px;
    }
  }
  .video-block{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      @include size(100%, 100%);
      top: 0;
      left: 0;
      z-index: 2;
    }
    .video-thumbnail{
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      z-index: 1;
      background-size: cover;
    }
    .video-content{
      position: absolute;
      z-index: 9;
      @include size(100%, auto);
      @include translateY(-50%);
      top: 50%;
      left: 0;
      z-index: 99;
      padding: 15px 20px;
      text-align: center;
      .video-title a{
        color: $white;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        display: block;
        text-transform: uppercase;
        font-family: $font-second;
        &:hover{
          color: $theme-color;
        }
      }
      .icon a{
        margin-bottom: 15px;
        display: inline-block;
        @include size(40px, 40px);
        border: 2px solid $white;
        color: $white;
        font-size: 18px;
        line-height: 38px;
        text-align: center;
        @include border-radius(50%);
        position: relative;
        text-indent: 9999px;
        @include transition(all 0.35s);
        &:hover{
          color: $theme-color;
          border-color: $theme-color;
          @include scale(1.2);
        }
        &:after{
          text-indent: 1px;
          content: "\f04b";
          font-family: "FontAwesome";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
      }
    }
  }
  .first-video{
    iframe{
      width: 100%;
      min-height: 500px;
    }
  }
  &.v2{
    .video-block{
      .video-thumbnail{
        position: relative;
      }
    }
  }
}

.portfolio-filter{
  margin-bottom: 20px;
  text-align: center;
  ul.nav-tabs{
    display: inline-block;
    > li{
      margin-bottom: 10px;
    }
  }
}

.brand-grid{
  .views-col{
    .field-content{
      text-align: center;
      @include box-shadow(0 1px 6px 1px rgba(0, 0, 0, 0.1));
      background: $white;
      margin: 15px 0;

    }
  }
}